.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Ignore Gradle GUI config
gradle-app.setting
.idea
FriendsTime.imlOleg
local.properties
/FriendsTimeJan25_2014_demowithYelp_first_prototype.gif
FriendsTime.iml
Parse-1.8.2.zip
Parse-1.8.2/
YelpClient.zip
YelpClient/YelpClient/
YelpClient/__MACOSX/
friendsTimePics/
.DS_Store
